<li><%= link_to :categories do %><i class="icon-folder-close"></i> <%= t('categories') %><% end %></li>
<li><%= link_to :sign_out, method: 'delete' do %><i class="icon-signout"></i> <%= t('sign_out') %><% end %></li>

