<h1 class="semantics"><%= site_name %></h1>

<%= render @paginated_posts %>

<%= page_entries_info(@paginated_posts, entry_name: Post.model_name.human) %>
<%= paginate @paginated_posts, param_name: :p %>

