// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.table { 
  ul.inline {
    margin-bottom: 0;
  }
  img {
    max-width: 100px;
  }
}

.form {
  label.control-label {
    display: none;
  }
}

.post_rendered {
  overflow: auto;
}

.post_source {
  overflow: auto;
}
